#hello{
    font-family:Impact, Haettenchweiler,'Arial Narrow Bold',sans-serif;
    font-size:xx-large;
}
#What{
    font-family:Impact, Haettenchweiler,'Arial Narrow Bold',sans-serif;
    font-size:xx-large;
}
#Nice{
    font-family:Impact, Haettenchweiler,'Arial Narrow Bold',sans-serif;
    font-size:xx-large;
}
